body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: aqua;
}
button {
    padding: 10x 20px ;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}
button:hover {
    background-color: #424a53;
    color: #0076ff;
}
#participantList {
    margin-top:  20px;
}